<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>jps-search-api-example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  </head>
  <body>
    <div id="app" class="main">
      <div class="search-box">
        <!-- inputにキーワードをバインド -->
        <input v-model="keyword" />
        <!-- ボタンを押すと検索実行。検索結果はresultに入る -->
        <button v-on:click="search(0)">Search</button>
      </div>
      <!-- 検索結果がある時のみ表示 -->
      <div v-if="result">
        <div>
          <!-- ヒット件数 -->
          <span>{{ result.hit }}件</span>
          <!-- 表示ページ。fromから指定したsizeの件数応答する -->
          <span>（{{ result.from + 1 }}から{{ result.from + size }}件目）</span>
          <!-- 次のsize件を表示する -->
          <button v-on:click="search(result.from+size)">
            次のページ
          </button>
        </div>
        <!-- 検索結果の表示数設定 -->
        <div class="size-selectbox">
          <select size="1" v-model="size" v-on:change="search(0)">
            <option v-bind:value="Number(20)" selected>20件表示</option>
            <option v-bind:value="Number(50)">50件表示</option>
            <option v-bind:value="Number(100)">100件表示</option>
          </select>
        </div>
        <table>
          <tr>
            <th></th>
            <th></th>
          </tr>
          <tr v-for="item in result.results.bindings">
            <!-- サムネイル -->
            <td>{{ item.label.value }} </td>
            <td>{{ item.type.value }} </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- JSの読み込み -->
    <!-- AxiosはAjax通信のためのライブラリ See https://github.com/axios/axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- VueはUI構築のためのライブラリ See https://jp.vuejs.org/-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/service.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
